

@import "fonts.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto-Regular'
}
h1,
h2,
h3 {
  font-weight: inherit;
  font-family: 'Roboto-Bold';
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

